/*General styles*/

body {
    background-color: white;
}

/*Container styles*/


.title-container {
    background-color: aqua;
    margin: auto;
}

.description-container {
    background-color: blueviolet;
    margin: auto;
}

.blocks-container {
    background-color: chartreuse;
    margin: auto;
}