/*General styles*/
body {
    font-family: Arial, Helvetica, sans-serif;
}


/*Container styles*/


.title-container {
    background-color: aqua;
}

.description-container {
    background-color: blueviolet;
}

.blocks-container {
    background-color: chartreuse;
}


/*Text styles*/

.title {
    font-size: 36px;
    font-weight: bold;
}